body{
    font-family: 'Poppins', sans-serif;  
    margin: 0;
    background-repeat: no-repeat;
   }
   .name-highlight{
       color: orange;
   }
   h1{
       font-size: 50px;
   }
   .half-width{
       width: 40%;
       margin-left: 5%;
       padding-left: 2%;
       float: left;
   }
   .half-width img{
       width: 100%;
       height: 600px;
   }
   .top-banner{
       background-image: url("images/header-bg.png");
       background-repeat: no-repeat;
   }
   section{
       height: 500px;
       padding-bottom: 150px;
   }
   .dream-area{
       background-image: url("images/biography-bg.png");
       background-repeat: no-repeat;
   }
   .link-button{
       text-decoration: none;
       background-image: linear-gradient(45deg,lightsalmon,tomato);
       padding: 10px 20px;
       border-radius: 5px;
       color: white;
       font-weight: 700;
   }
   .column{
       float: left;
       width: 30%;
       padding: 1%;
       margin-left: 1%;
       border: 1px solid black;
       border-radius: 12px;
   }
   .row::after{
       content: "";
       clear:both;
       display: table;
   }
   footer p{
       text-align: center;
       font-size: 12px;
       }
   .image{
       background-image: url(images/footer-bg.png);
       background-repeat: no-repeat;
   }
   footer p{
   text-align: center;
   font-size: 12px;
   }