body{
    font-family: 'Poppins', sans-serif;  
    margin: 0;
    background-repeat: no-repeat;
   }
   .name-highlight{
       color: orange;
   }
   h1{
       font-size: 50px;
   }
   .half-width{
       width: 40%;
       margin-left: 5%;
       padding-left: 2%;
       float: left;
   }
   .half-width img{
       width: 100%;
       height: 600px;
   }
   .back-image{
       background-image: url("images/header-bg.png");
       background-repeat: no-repeat;
   }
   section{
       height: 500px;
       padding-bottom: 150px;
   }
   .bio-area{
       background-image: url("images/biography-bg.png");
       background-repeat: no-repeat;
   }
   .link-button{
       text-decoration: none;
       background-image: linear-gradient(45deg,lightsalmon,tomato);
       padding: 10px 20px;
       border-radius: 5px;
       color: white;
       font-weight: 700;
   }
   .work{
       float: left;
       width: 30%;
       padding: 1%;
       margin-left: 1%;
       border: 1px solid black;
       border-radius: 12px;
   }
   .work-area::after{
       content: "";
       clear:both;
       display: table;
       background-image: url(images/latest-work-bg.png);
       background-repeat: no-repeat;
   }
       .review{
           font-weight: 700;
           border:2px solid black;
           border-radius: 15px;
           padding-left: 10px;
           width: 60%;
           margin-left: 20%;
           margin-top: 2%;
   }
   footer p{
       text-align: center;
       font-size: 12px;
       }
   .image{
       background-image: url(images/footer-bg.png);
       background-repeat: no-repeat;
   }
   .align{
       text-align: center;
   }
   .contact{
    width: 25%;
    padding-left: 13%;
    margin-top: 5%;
    margin-left: 26%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: cadetblue;
    color: white;
   }
   .hak{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 25px;
       text-align: left;
   }
   .hak1{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-align: left;
       font-size: 18px;
   }
   footer p{
   text-align: center;
   font-size: 15px;
   }